.header {
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn.mat-button {
  color: #aaa !important;
  font-size: 1.8rem !important;
}

.btn-active.mat-button.mat-primary {
  color: var(--color-primary) !important;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-name {
  color: var(--color-primary);
  margin-right: 2rem;
}
