<div class="header">
  <img
    src="../../../assets/cielo-logo-small.png"
    alt="logo cielo"
    height="40"
  />
  <nav class="header-menu">
    <button
      mat-button
      aria-label="link text"
      class="btn btn-active"
      color="primary"
    >
      extratos
    </button>
    <button mat-button aria-label="link text" class="btn">
      serviços
    </button>
    <button mat-button aria-label="link text" class="btn">
      ajuda
    </button>
  </nav>
  <div class="header-right">
    <div>
      Welcome,
      <span class="header-name">{{
        currentUser
          ? currentUser.dados_pessoais.nome
          : ' .........................'
      }}</span>
    </div>
    <button mat-icon-button aria-label="exit button">
      <mat-icon aria-hidden="false" aria-label="Exit icon"
        >exit_to_app</mat-icon
      >
    </button>
  </div>
</div>
