<div class="table-header">
  <mat-form-field appearance="outline">
    <mat-label>Extrato do mês:</mat-label>
    <mat-select [(value)]="curMonth">
      <mat-option *ngFor="let month of months" [value]="month">{{
        month
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="table-header-total">
    <p class="total-text">
      Total:
      <span class="total-text total-value">{{
        total | currency: 'BRL':'symbol':'0.2-2':'pt'
      }}</span>
    </p>
  </div>
</div>

<div class="loader-container" *ngIf="!userLancamentos">
  <mat-spinner
    strokeWidth="5"
    diameter="30"
    color="accent"
  ></mat-spinner>
</div>

<div class="table-container" *ngIf="userLancamentos">
  <mat-table
    class="table mat-elevation-z8"
    [dataSource]="dataSource"
    matSort
  >
    <ng-container matColumnDef="codigoIdentificadorUnico">
      <mat-header-cell
        class="cell cell-small"
        *matHeaderCellDef
        mat-sort-header
        >Id</mat-header-cell
      >
      <mat-cell
        class="cell cell-small"
        *matCellDef="let lancamento"
        >{{ lancamento.codigoIdentificadorUnico }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="dataLanc">
      <mat-header-cell
        class="cell cell-medium"
        *matHeaderCellDef
        mat-sort-header
        >Data de Lançamento</mat-header-cell
      >
      <mat-cell
        class="cell cell-medium"
        *matCellDef="let lancamento"
        >{{ lancamento.dataLanc }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="descric">
      <mat-header-cell
        class="cell cell-small"
        *matHeaderCellDef
        mat-sort-header
        >Descrição</mat-header-cell
      >
      <mat-cell
        class="cell cell-small"
        *matCellDef="let lancamento"
        >{{ lancamento.descric }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="numero">
      <mat-header-cell
        class="cell cell-medium"
        *matHeaderCellDef
        mat-sort-header
        >Número</mat-header-cell
      >
      <mat-cell
        class="cell cell-medium"
        *matCellDef="let lancamento"
        >{{ lancamento.numero }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="situacao">
      <mat-header-cell
        class="cell cell-small"
        *matHeaderCellDef
        mat-sort-header
        >Situação</mat-header-cell
      >
      <mat-cell
        class="cell cell-small"
        *matCellDef="let lancamento"
        >{{ lancamento.situacao }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="dataConf">
      <mat-header-cell
        class="cell cell-medium"
        *matHeaderCellDef
        mat-sort-header
        >Data Conf.</mat-header-cell
      >
      <mat-cell
        class="cell cell-medium"
        *matCellDef="let lancamento"
        >{{ lancamento.dataConf }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="dadosBanc">
      <mat-header-cell
        class="cell cell-large"
        *matHeaderCellDef
        mat-sort-header
        >Dados bancários</mat-header-cell
      >
      <mat-cell
        class="cell cell-large"
        *matCellDef="let lancamento"
        >{{ lancamento.dadosBanc }}</mat-cell
      >
    </ng-container>

    <ng-container matColumnDef="valorFinal">
      <mat-header-cell
        class="cell-small"
        *matHeaderCellDef
        mat-sort-header
        >Valor Final</mat-header-cell
      >
      <mat-cell class="cell-small" *matCellDef="let lancamento">{{
        lancamento.valorFinal | currency: 'BRL':'symbol':'0.2-2':'pt'
      }}</mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns"
    ></mat-header-row>

    <mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>
  <mat-paginator
    class="paginator"
    [length]="userLancamentos.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 15, 25]"
    showFirstLastButtons
  ></mat-paginator>
</div>
