.loader-container {
  background-color: var(--color-grey-light);
  height: 30rem;
  min-height: 30rem;
  width: 100%;
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  margin-bottom: 1rem;
  min-height: 30rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-text {
  font-size: 1.8rem;
}

.total-value {
  color: var(--color-primary);
}

.cell-small {
  max-width: 12rem;
}

.cell-medium {
  max-width: 16rem;
}

.cell-large {
  min-width: 20rem;
}
