.graph {
  min-height: 30rem;
}

.loader-container {
  background-color: var(--color-grey-light);
  height: 30rem;
  min-height: 30rem;
  width: 100%;
  margin-bottom: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
