@import './app/css/variables.css';

/* Global styles */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit; /* elements will inherit from body */
}

html {
  /* This defines what a rem is */
  font-size: 62.5%; /* 1 rem = 10 px; 10px/16px = 62.5% */
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 300;
  line-height: 1.8;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

a,
a:link,
a:visited {
  cursor: pointer;
  color: var(--color-primary);
}

a:hover,
a:active {
  color: var(--color-primary-dark);
}
